html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: $font-med;
  line-height: 1.5;
  background: linear-gradient(-45deg, $lightBlue 10%, $lightRed 100%);
}

h1 {
  text-align: center;
  font-size: $font-xlg;
  color: $white;
  background: $lightRed;
  border-radius: 20px/50%;
  box-shadow: 2px 2px 5px #666666;
  text-shadow: 1px 1px 1px #666666;
  margin-bottom: 5%;
}

h2 {
  @extend h1;
  font-size: $font-lg;
  margin-bottom: 3%;
}

.links {
  padding-left: 3%;
  a {
    text-decoration: none;
    color: $rossoCorsa;
    &:hover {
      color: $lightBlue;
      transition: ease-out 600ms;
    }
  }
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  background: $white;
  padding: 1% 4%;
  box-shadow: 3px 3px 5px;

  @include breakpoint-down(medium) {
    width: 70%;
  }

  @include breakpoint-down(small) {
    width: 100%;
  }

  header,
  section {
    margin-bottom: 50px;
    @include breakpoint-down(medium) {
      margin-bottom: 20px;
    }
  }
}

.container_header {
  img {
    display: block;
    margin: auto;
    float: right;
    padding: 1%;
    clear: both;
    max-width: 100%;
  }

  @include breakpoint-down(medium) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
