// Colors
$lightBlue: #0063ff;
$lightRed: #ed0c0c;
$rossoCorsa: #d70b0b;
$cinnabarRed: #e0473f;
$tonysPink: #dd9988;
$lightGrey: #e4e2c5e8;
$darkGrey: #162413;
$white: #fff;
$black: #000;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.625rem; //26px
$font-xlg: 2rem; //32px
